openapi: 3.0.3
info:
  title: DeFiLlama Tax API
  description: Tax reporting and compliance API for crypto transactions
  version: 2.0.0

servers:
  - url: https://api.defillama.com/v2
    description: Production server

tags:
  - name: Tax
    description: Tax reporting and calculations

paths:
  /tax/import:
    post:
      tags: [Tax]
      summary: Import transactions
      description: Import crypto transactions from wallets, exchanges, or CSV
      operationId: importTransactions
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source_type
              properties:
                source_type:
                  type: string
                  enum: [wallet, exchange, csv]
                wallets:
                  type: array
                  items:
                    type: string
                  description: Wallet addresses (for source_type=wallet)
                exchange:
                  type: string
                  enum: [binance, coinbase, kraken]
                  description: Exchange name (for source_type=exchange)
                csv_data:
                  type: string
                  format: base64
                  description: Base64-encoded CSV data (for source_type=csv)
                tax_year:
                  type: integer
                  example: 2025
      responses:
        '202':
          description: Import job started
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: processing
                  estimated_completion:
                    type: string
                    format: date-time

  /tax/calculate:
    post:
      tags: [Tax]
      summary: Calculate cost basis and gains/losses
      operationId: calculateTax
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tax_year
                - cost_basis_method
              properties:
                tax_year:
                  type: integer
                  example: 2025
                cost_basis_method:
                  type: string
                  enum: [FIFO, LIFO, HIFO, SPECIFIC_ID]
                wallets:
                  type: array
                  items:
                    type: string
                  description: Optional wallet filter
      responses:
        '202':
          description: Calculation job started
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: processing

  /tax/generate-forms:
    post:
      tags: [Tax]
      summary: Generate IRS tax forms
      operationId: generateTaxForms
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tax_year
                - forms
              properties:
                tax_year:
                  type: integer
                  example: 2025
                forms:
                  type: array
                  items:
                    type: string
                    enum: [form_8949, schedule_d]
                format:
                  type: string
                  enum: [pdf, csv]
                  default: pdf
      responses:
        '200':
          description: Tax forms generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: string
                    format: uuid
                  forms:
                    type: array
                    items:
                      type: object
                      properties:
                        form_type:
                          type: string
                        download_url:
                          type: string
                          format: uri

  /tax/reports:
    get:
      tags: [Tax]
      summary: Get tax report history
      operationId: getTaxReports
      security:
        - bearerAuth: []
      parameters:
        - name: tax_year
          in: query
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Tax reports list
          content:
            application/json:
              schema:
                type: object
                properties:
                  reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaxReport'
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer

  /tax/settings:
    get:
      tags: [Tax]
      summary: Get tax settings
      operationId: getTaxSettings
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Tax settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxSettings'
    
    post:
      tags: [Tax]
      summary: Update tax settings
      operationId: updateTaxSettings
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxSettings'

  /tax/optimization:
    get:
      tags: [Tax]
      summary: Get tax optimization suggestions
      operationId: getTaxOptimization
      security:
        - bearerAuth: []
      parameters:
        - name: tax_year
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Optimization suggestions
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum: [cost_basis_method, tax_loss_harvesting, holding_period]
                        description:
                          type: string
                        estimated_savings_usd:
                          type: number
                        action_required:
                          type: string

  /tax/audit-trail:
    get:
      tags: [Tax]
      summary: Get tax audit trail
      operationId: getTaxAuditTrail
      security:
        - bearerAuth: []
      parameters:
        - name: tax_year
          in: query
          required: true
          schema:
            type: integer
        - name: format
          in: query
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Audit trail
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaxTransaction'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    TaxReport:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tax_year:
          type: integer
        cost_basis_method:
          type: string
        total_short_term_gain:
          type: number
        total_long_term_gain:
          type: number
        total_gain_loss:
          type: number
        report_url:
          type: string
          format: uri
        status:
          type: string
          enum: [processing, completed, failed]
        created_at:
          type: string
          format: date-time

    TaxSettings:
      type: object
      properties:
        default_cost_basis_method:
          type: string
          enum: [FIFO, LIFO, HIFO, SPECIFIC_ID]
          default: FIFO
        tax_year:
          type: integer
        country:
          type: string
          enum: [US, UK, CA, AU, DE]
          default: US
        excluded_wallets:
          type: array
          items:
            type: string

    TaxTransaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tx_hash:
          type: string
        chain:
          type: string
        type:
          type: string
          enum: [buy, sell, swap, stake, nft]
        token:
          type: string
        amount:
          type: number
        price_usd:
          type: number
        cost_basis_usd:
          type: number
        proceeds_usd:
          type: number
        gain_loss_usd:
          type: number
        holding_period_days:
          type: integer
        timestamp:
          type: string
          format: date-time

