openapi: 3.0.3
info:
  title: DeFiLlama Portfolio API
  description: Portfolio management and analytics API
  version: 2.0.0

servers:
  - url: https://api.defillama.com/v2
    description: Production server

tags:
  - name: Portfolio
    description: Portfolio tracking and analytics

paths:
  /portfolio/wallets:
    get:
      tags: [Portfolio]
      summary: Get connected wallets
      operationId: getWallets
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of connected wallets
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Wallet'
    
    post:
      tags: [Portfolio]
      summary: Add wallet address
      operationId: addWallet
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - address
                - chain
              properties:
                address:
                  type: string
                  example: "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb"
                chain:
                  type: string
                  example: ethereum
                label:
                  type: string
                  example: "Main Wallet"
      responses:
        '201':
          description: Wallet added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'

  /portfolio/wallets/{walletId}:
    delete:
      tags: [Portfolio]
      summary: Remove wallet
      operationId: removeWallet
      security:
        - bearerAuth: []
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Wallet removed

  /portfolio/dashboard:
    get:
      tags: [Portfolio]
      summary: Get portfolio dashboard
      operationId: getPortfolioDashboard
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Portfolio dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioDashboard'

  /portfolio/snapshots:
    get:
      tags: [Portfolio]
      summary: Get portfolio snapshots
      operationId: getPortfolioSnapshots
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
        - name: interval
          in: query
          schema:
            type: string
            enum: [1h, 6h, 24h, 7d, 30d]
            default: 24h
      responses:
        '200':
          description: Portfolio snapshots
          content:
            application/json:
              schema:
                type: object
                properties:
                  snapshots:
                    type: array
                    items:
                      $ref: '#/components/schemas/PortfolioSnapshot'

  /portfolio/analytics:
    get:
      tags: [Portfolio]
      summary: Get portfolio analytics
      operationId: getPortfolioAnalytics
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [24h, 7d, 30d, 90d, 1y, all]
            default: 30d
      responses:
        '200':
          description: Portfolio analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioAnalytics'

  /portfolio/pnl:
    get:
      tags: [Portfolio]
      summary: Get P&L report
      operationId: getPnL
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: breakdown_by
          in: query
          schema:
            type: string
            enum: [asset, chain, time]
            default: asset
      responses:
        '200':
          description: P&L report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnLReport'

  /portfolio/liquidity-positions:
    get:
      tags: [Portfolio]
      summary: Get liquidity positions
      operationId: getLiquidityPositions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Liquidity positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/LiquidityPosition'
    
    post:
      tags: [Portfolio]
      summary: Add liquidity position
      operationId: addLiquidityPosition
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pool_address
                - chain
                - entry_price
                - entry_date
              properties:
                pool_address:
                  type: string
                chain:
                  type: string
                entry_price:
                  type: number
                entry_date:
                  type: string
                  format: date
      responses:
        '201':
          description: Position added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidityPosition'

  /portfolio/ws:
    get:
      tags: [Portfolio]
      summary: WebSocket endpoint for real-time updates
      description: |
        WebSocket endpoint for real-time portfolio updates.
        
        Connection: wss://api.defillama.com/v2/portfolio/ws
        
        Authentication: Send JWT token in first message
        ```json
        {"type": "auth", "token": "your-jwt-token"}
        ```
        
        Subscribe to updates:
        ```json
        {"type": "subscribe", "channel": "portfolio"}
        ```
        
        Receive updates:
        ```json
        {
          "type": "portfolio_update",
          "data": {
            "total_value_usd": 1500000,
            "change_24h_pct": 2.5,
            "top_assets": [...]
          }
        }
        ```
      responses:
        '101':
          description: Switching Protocols

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Wallet:
      type: object
      properties:
        id:
          type: string
          format: uuid
        address:
          type: string
        chain:
          type: string
        label:
          type: string
        created_at:
          type: string
          format: date-time

    PortfolioDashboard:
      type: object
      properties:
        total_value_usd:
          type: number
          example: 1500000
        change_24h_usd:
          type: number
          example: 25000
        change_24h_pct:
          type: number
          example: 1.7
        breakdown_by_chain:
          type: array
          items:
            type: object
            properties:
              chain:
                type: string
              value_usd:
                type: number
              percentage:
                type: number
        breakdown_by_asset:
          type: array
          items:
            type: object
            properties:
              token:
                type: string
              chain:
                type: string
              balance:
                type: number
              value_usd:
                type: number
              percentage:
                type: number

    PortfolioSnapshot:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        total_value_usd:
          type: number
        change_24h_pct:
          type: number
        assets:
          type: array
          items:
            type: object

    PortfolioAnalytics:
      type: object
      properties:
        roi:
          type: number
          description: Return on Investment (%)
        sharpe_ratio:
          type: number
          description: Risk-adjusted return
        max_drawdown:
          type: number
          description: Maximum drawdown (%)
        win_rate:
          type: number
          description: Win rate (%)
        total_pnl_usd:
          type: number
        realized_pnl_usd:
          type: number
        unrealized_pnl_usd:
          type: number

    PnLReport:
      type: object
      properties:
        total_pnl_usd:
          type: number
        realized_pnl_usd:
          type: number
        unrealized_pnl_usd:
          type: number
        breakdown:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              pnl_usd:
                type: number
              percentage:
                type: number

    LiquidityPosition:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pool_address:
          type: string
        chain:
          type: string
        token0:
          type: string
        token1:
          type: string
        entry_price:
          type: number
        current_price:
          type: number
        il_pct:
          type: number
          description: Impermanent Loss (%)
        il_usd:
          type: number
          description: Impermanent Loss (USD)
        entry_date:
          type: string
          format: date
        created_at:
          type: string
          format: date-time

